html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    margin: 0;
    padding: 0;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 8px;
    /* overflow-y: hidden; */
}

p{
    margin: 0;
    padding: 0;
}

#background{
    height: 100vh;
    background-color: rgb(61, 171, 213);
    background-image: linear-gradient(to bottom right, rgb(215, 121, 172), rgb(61, 171, 213));
}

#map{
    height: 100vh;
    background-color: rgb(207, 173, 238);
}

#map-small{
    height: 100%;
    background-color: rgb(207, 173, 238);
}

#map-new {
    height: 50vh;
    background-color: rgb(207, 173, 238);
}

#map-full{
    margin-top: -78px;
    height: 100%;
    background-color: rgb(207, 173, 238);
}

.all-caps{
    text-transform: capitalize;
}

.blur{
    filter: blur(2px);
}

.button{
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    opacity: 80%;
}

.button-1{
    background-image: linear-gradient(to bottom right, rgb(170, 94, 136), rgba(247, 247, 247, 0.61));
    /* padding: 60px 40px; */
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50vw;
    top: 70px;
}

.button-2{
    position: absolute;
    left: 30vw;
    top: 50px;
    width: 150px;
}

.button-3{
    position: absolute;
    left: 20vw;
    top: 200px;
    width: 150px;
}

.button-4{
    position: absolute;
    left: 10vw;
    top: 125px;
    width: 150px;
}

.button-5{
    position: absolute;
    bottom: 15px;
    transform: translate(-50%, 0%);
    width: 100px;
}

.button-circle{
    border-radius: 50%;
}

.button-round{
    border-radius: 18px;
}

.button-title{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    display: inline-block;
    /* opacity: 80%; */
    width: 100%;
}

.button-title:hover{
    cursor: pointer;
    /* background: transparent; */
    border: 1px solid #fff;
    /* color: rgba(0, 0, 0, 0.1); */
    background-color: white;
    /* mix-blend-mode: screen; */
    padding: 20px 10px;
    text-align: center;
    display: inline-block;
    /* opacity: 100%; */
    width: 100%;
    color: rgb(154, 141, 189);
}

.button:hover{
    opacity: 50%;
    cursor: pointer;
}

.cards{
    border: none;
    margin-top: 125px;
    background-color: black;
    opacity: 50%;
    padding: 0;
}

.cards-button:hover{
    cursor: pointer;
    opacity: 40%;
}

.cards-img{
    padding-top: 50px;
    width: 20%;
}

.cards-text{
    padding-top: 10px;
    font-size: 10px;
    letter-spacing: 1px;
    padding-bottom: 50px;
    color: #fff;
}

.center{
    text-align: center;
}

.container{
    position: relative;
    text-align: center;
    height: 30vh;
}

.container-fifty{
    margin-top: 20vh;
    position: relative;
    text-align: center;
    height: 50vh;
}

.container-nearby {
    position: relative;
    text-align: center;
    height: 100vh;  
}

.container-top{
    position: relative;
    text-align: center;
    height: 70vh;
}

.container-top-middle{
    position: absolute;
    z-index: 100000;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
    .container-top-middle {
        top: 30%;
    }
}

.custom-select{
    margin-top: 15px;
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  
  .custom-select .select{
    width: 83%;
  }
  
  .custom-select .select select{
    outline: none;
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
  }

.great-vibes-font{
    font-family: 'Great Vibes';
    font-size: 95px;
    letter-spacing: 5px;
    color: white;
}

.grid{
    margin: 0;
    /* padding-top: 30px; */
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 1fr;
    grid-template-rows: 5vw;
    grid-gap: 10px;
}

.grid__item {
    align-self: center;
}

.grid__item--1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.grid__item--2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.grid-buttons{
    margin: -5px 15px;
    /* padding-top: 30px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-gap: 15px;
}

.grid-buttons__item {
    align-self: center;
}

.grid-buttons__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.grid-buttons__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.grid-buttons__item--3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.header-font{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
}

input[type=text]{
    width: 100%;
    border: 0;
    border-radius: 10px;
    opacity: 30%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
}

textarea {
    width: 100%;
    border: 0;
    border-radius: 10px;
    opacity: 30%;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    padding-top: 10px;
}

.next-button {
    height: 20px;
    width: 20px;
    padding: 20px 20px;
    border-radius: 50%;
    opacity: 30%;
    outline: none;
    border: none;
    box-shadow: none;
    color: grey;
    font-size: 10px;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
}

.next-button:hover{
    opacity: 50%;
    cursor: pointer;
}

.fa{
    font-size: 20px;
    position: absolute;
    /* top: 50%; */
    left: 50.2%;
    transform: translate(-50%, -50%);
}

.margin-top-15{
    margin-top: 15px;
}

.margin-top-90{
    margin-top: 15vh;
}

.padding-top-60{
    padding-top: 10vh;
}

.padding-top-120{
    padding-top: 20vh;
}

.padding-top-150{
    padding-top: 25vh;
}

.no-decoration{
    text-decoration: none;
    color: white;
}

.opacity{
    opacity: 70%;
}

.padding{
    padding: 30vw;
}

.skyline{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    opacity: 100%;
    z-index: -1;
}

.squiggly{
    position: absolute;
    top: -1px;
    transform: translate(-50%, 0%);
    width: 100%;
    height: auto;
    z-index: 1;
    max-height: 200px;
    opacity: 100%;
}

.text{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
}

.text-caption{
    padding-top: 25px;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 6px;
}

.text-submit{
    padding-top: 20px;
    font-family: myriad-pro, sans-serif;
    color: #669ECB;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.text-press:hover{
    opacity: 40%;
    cursor: pointer;
    /* text-decoration: underline; */
}

.w3-modal-content{
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: calc(100vh - 40px); */
    background-image: linear-gradient(to bottom right, rgb(215, 121, 172), rgb(61, 171, 213));
}

.gmnoprint a, .gmnoprint span {
    display:none;
}

.gmnoprint div {
    background:none !important;
}

#map-small div div a div img{
    display:none;
}

#map-new div div a div img{
    display:none;
}