<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link href="StyleSheet.css" rel="StyleSheet" type="text/css">
    <title>Nearby</title>
</head>

<body>
    <div id="id103" class="w3-modal">
        <div class="w3-modal-content" style="padding-top: 0;">
            <div class="w3-container info-window">
                <span onclick="document.getElementById('id103').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                <h1 id="post-title"></h1>
                <img style="padding-bottom: 15px;" id="post-image">
                <p id="post-description"></p>
                <h3 style="margin-top: 20px;" id="post-time"></h3>
                <h3 id="post-date"></h3>
                <h3 id="post-category"></h3>
            </div>
        </div>
    </div>
    <div id="map"></div>
    </div>
    <script>

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 49.5,
                    lng: -123.121
                },
                zoom: 14,
                zoomControl: false,
                mapTypeControl: false,
                fullscreenControl: false,
                scaleControl: false,
                streetViewControl: false
            });
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    lat = position.coords.latitude;
                    lng = position.coords.longitude;
                    map.setCenter(new google.maps.LatLng(lat, lng));
                    var Geocoder = new google.maps.Geocoder;

                    function geocodeLatLng(latlng, cb) {
                        return Geocoder.geocode({
                            'location': latlng
                        }, function (res, status) {
                            return cb((status === 'OK') ? (res[1] || "Nothing found") : status);
                        });
                    }
                });
            }
            var infowindow = new google.maps.InfoWindow();

            var marker, i;
            var x = <%-JSON.stringify(data)%>;
            console.log(x);
            Object.keys(x).forEach(function(key) {
                marker = new google.maps.Marker({
                position: new
                google.maps.LatLng(x[key].latitude, x[key].longitude),
                map: map
                });
                marker.setIcon('marker.png');
                google.maps.event.addListener(marker, 'click',
                (function (marker, i) {
                return function () {
                document.getElementById("post-title").innerHTML = x[key].title;
                document.getElementById("post-image").src = x[key].image;
                document.getElementById("post-description").innerHTML = x[key].description;
                document.getElementById("post-time").innerHTML = x[key].time;
                document.getElementById("post-date").innerHTML = x[key].date;
                document.getElementById("post-category").innerHTML = "Category: " + x[key].category;
                document.getElementById('id103').style.display='block'
                map.setCenter(new google.maps.LatLng(x[key].latitude, x[key].longitude));
                }
                })(marker, i));
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGVFxlXZXgKNSabKaxNb82u9ex126Ib48&callback=initMap"
        async defer></script>
    <script src="Script.js"></script>
</body>

</html>